/********************************************************************************************************
                                HOME PAGE
********************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.btn-custom {
    background: #fff;
    color: #007bff;
}

.navbar-brand img {
    margin-bottom: 5px;
    margin-left: 1rem;
}

a:hover {
    text-decoration: none;
}

.positioning {

    text-transform: uppercase;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
}

.positioning li a:hover {
    background: white;
    border-radius: 5px;
    color: #007bff !important;
    transition: all .1s ease;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
header>.container{
    margin-left: 2rem;
}


/********************************************************************************************************
                                ARTICLE PAGE
********************************************************************************************************/
.container{
    margin-right: 14rem;
    
}
.card{
    margin-right: 1.2rem;
}
.col-lg-8 strong{
    color: #007bff;
    font-weight: 500;
}
.article-content{
    font-family: 'raleway',sans-serif;
}
.blockquote{
    color:#007bff;
    font-style: italic;
}